<div class="container">
    <h2>Delete items</h2>
    <div class="alert alert-danger" role="alert">
        Are you sure delete this item!
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <td>#</td>
            <td>Name</td>
            <td>Price</td>
            <td colspan="2">Action</td>
        </tr>
        </thead>
        <tbody class="table-hover">
        {delete-user}
        </tbody>
    </table>
    <a href="/" ><button type="button" class="btn btn-success mt-2">Home</button></a>
</div>