<div class="container">
    <div class="">
        <h2>List products</h2>
        <a href="/create" > <button type="button" class="btn btn-success mx-auto mb-2">Add products</button></a>
        <table class="table table-hover">
            <thead>
            <tr>
                <td>#</td>
                <td>Name</td>
                <td>Price</td>
                <td colspan="2">Action</td>
            </tr>
            </thead>
            <tbody class="table-hover">
            {list-user}
            </tbody>
        </table>
    </div>
</div>