<div class="container">
    <h2>Update products</h2>
    <form action="/update?index={product-index}" method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Product name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Product name"
                   value="{product-name}" required>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Product price</label>
            <input type="number" class="form-control" id="price" name="price" placeholder="Product price"
                   value="{product-price}" required>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
        <a href="/delete?index={product-index}">
            <button type="button" class="btn btn-danger">Delete</button>
        </a>
        <a href="/">
            <button type="button" class="btn btn-success">Home</button>
        </a>
    </form>

</div>